<div class="expanded-field filterable ms-move" data-index="<%= move["index"] %>"  data-move-id="<%= move["index"] %>">	
	<div class="expanded-field-main">
		<div class="move-name">
			<%= move["name"].titleize %>
		</div>
		<div class="move-type">
			<div class="btn -<%= move["type"].downcase %> -active" type="button"><%= move["type"][0..2] %></div>
		</div>
		<div  class="move-power"><%= move["power"] %>
		</div>
		<div data-narc="move" class="move-accuracy"><%= move["accuracy"] %>
		</div>
	</div>	
</div>

