<div class="pokemon-card filterable" data-gen="<%= to_gen pok["index"] %>" data-index=<%= pok["index"] %>>
	<div class="pokemon-card__info">
		<div class="pokemon-card__header">
			<div class="pokemon-card__img"><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= pok["index"] %>.png" alt="charizard"></div>
			<div class="pokemon-card__id">#<%= pok["index"] %></div>
		</div>
		<div class="pokemon-card__name"><%= pok["name"].titleize %></div>
		<div class="pokemon-types">
			<div data-narc="personal" data-autofill="types" data-field-name="type_1" class="pokemon-type -<%= pok["type_1"].downcase %>" contenteditable="true" data-autocomplete-spy><%= pok["type_1"] %></div>
			<div data-narc="personal" data-autofill="types" data-field-name="type_2" class="pokemon-type -<%= pok["type_2"].downcase %>" contenteditable="true" data-autocomplete-spy><%= pok["type_2"] %></div>
		</div>
		<div class="pokemon-card__abilities">
			<div data-narc="personal" data-autofill="abilities" data-autocomplete-spy data-field-name="ability_1" class="pokemon-card__ability" contenteditable="true"><%= pok["ability_1"].titleize  %></div>
			<div data-narc="personal" data-autofill="abilities" data-autocomplete-spy data-field-name="ability_2" class="pokemon-card__ability" contenteditable="true"><%= pok["ability_2"].titleize  %></div>
			<div data-narc="personal" data-autofill="abilities" data-autocomplete-spy data-field-name="ability_3" class="pokemon-card__ability" contenteditable="true"><%= pok["ability_3"].titleize  %></div>
		</div>
	</div>
	<table class="pokemon-card__table" cellspacing="0">
		<tbody>		
			<% Personal.base_stat_fields.each do |bs_info| %>
				<tr>
					<td>
						<strong><%= bs_info[0] %></strong>
					</td>
					<td data-narc="personal" data-type="int-255" data-field-name="<%= bs_info[1] %>" contenteditable="true"><%= pok[bs_info[1]] %></td>
					<td>
						<div class="pokemon-card__graph-wrapper">
							<div class="pokemon-card__graph -medium" style="width: calc(100% * (<%= pok[bs_info[1]] %> / 255));"></div>
						</div>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<div class="expanded-card-content expanded-personal">
		<div class="expanded-left">
			<% Personal.misc_integer_fields.each do |misc| %>
				<div class="expanded-field">
					<div class="expanded-field-name"><%= misc[0] %></div>
					<div data-narc="personal" data-type="int-255" data-field-name="<%= pok[misc[1]] %>" class="expanded-field-value" contenteditable="true"><%= pok[misc[1]] %></div>
				</div>
			<% end %>
		
		</div>
		<div class="expanded-mid">
			<% Personal.text_fields.each do |txt_info| %>
				<div class="expanded-field">
					<div class="expanded-field-name"><%= txt_info[0] %></div>
					<div data-narc="personal" data-autocomplete-spy data-field-name="<%= txt_info[1] %>" class="expanded-field-value" contenteditable="true" data-autofill="<%= txt_info[2] %>"><%= pok[txt_info[1]].titleize %></div>
				</div>
			<% end %>
		</div>
		<div class="expanded-right">				
			<% Personal.ev_yield_fields.each do |ev_info| %>
				<div class="expanded-field">
					<div class="expanded-field-name"><%= ev_info[0] %> EVs</div>
					<div data-narc="personal" data-type="int-3" data-field-name="<%= ev_info[1] %>" class="expanded-field-value ev-field" contenteditable="true"><%= pok[ev_info[1]] %></div>
			</div>
			<% end %>
		</div>
	</div>
	<div class="expanded-card-content expanded-learnset">
		<div class="expanded-left">
			<%= erb :'_learnset', :layout => false, :locals => { :learnset => pok['learnset'][0..9] } %>				
		</div>
		<div class="expanded-left">
			<%= erb :'_learnset', :layout => false, :locals => { :learnset => pok['learnset'][10..19] } %>			
		</div>		
	</div>
	<%= img 'moves.png', "expand-card exp-learnset card-icon expand-action", ["expand", "learnset"]  %>
	<%= img 'misc_data.svg', "expand-card exp-personal card-icon expand-action", ["expand", "personal"]  %>
</div>