<script>
	// json object for filtering
	grottos = <%= @grottos.to_json %>


	// info for autocomplete
	autofills = {
		<% [:pokemon_names, :items].each do |info| %>
			"<%= info.to_s %>": <%= RomInfo.send(info) %>,
		<% end %>
	}
</script>

<div class="pokemon-filter">	
	<div class="filter-title">Search</div>
	<input class="filter-input" id="search-text"/>

	<button class="btn -default" id="search-text-btn" type="button">Search</button>	

	<a href="/grotto_odds"><button class="btn -default" id="edit-odds" type="button">Edit Odds</button></a>			

</div>

<div class="pokemon-list spreadsheet" id="grottos">
	<div class="expanded-field field-header">
		<div class="expanded-field-main">
			<div class="grotto-id">ID</div>
			<div class="grotto-location">Location</div>
			<div class="grotto-wilds" >Encounters</div>
		</div>
	</div>

	<% @grottos.each_with_index do |grotto, i| %>
		<div class="expanded-field filterable" data-index="<%= i %>">

			<% grotto_index = i %>

			<div class="expanded-field-main">
				<div class="grotto-id"><%= i %></div>

				<div class="grotto-location"><%= grotto["name"] %></div>

				<div class="grotto-wilds" >
					<% Grotto.wilds(grotto).each do |wild| %>
						<div class="wild">
							<%= img "pokesprite/#{wild.downcase}.png" %>
						</div>
					<% end %>	
				</div>
				<%= svg "svgs/misc_data", 'move-info expand-action expand-grotto svg no-fill', ["expand", "grotto"] %>
			</div>
			<div class="expanded-card-content expanded-grotto">
				<% ["black", "white"].each do |version| %>
					<% ["common", "uncommon", "rare"].each_with_index do |rarity, i| %>
						<div class="expanded-left">
							<div class="expanded-field multi field-header">

								<div class="enc-slot"><%= version.titleize %> <%= @odds["#{rarity}_pok_odds_#{grotto_index}"] %>%</div>

								<div class="enc-lvl">Min</div>
								<div class="enc-lvl">Max</div>
								<div class="enc-lvl">F/M</div>
								<div class="enc-form">Form</div>
							</div>

							<% (0..3).each do |n| %>
								<div class="expanded-field multi">
									<%= field "#{version}_#{rarity}_pok_#{n}", 'enc-slot enc-name', {value: grotto["#{version}_#{rarity}_pok_#{n}"].name_titleize,  narc: "grotto", autofill: "pokemon_names"} %>

									<%= field "#{version}_#{rarity}_min_lvl_#{n}", 'enc-lvl', {value: grotto["#{version}_#{rarity}_min_lvl_#{n}"],  narc: "grotto", type: "int-100"} %>

									<%= field "#{version}_#{rarity}_max_lvl_#{n}", 'enc-lvl', {value: grotto["#{version}_#{rarity}_max_lvl_#{n}"],  narc: "grotto", type: "int-100"} %>

									<%= field "#{version}_#{rarity}_gender_#{n}", 'enc-lvl', {value: (grotto["#{version}_#{rarity}_gender_#{n}"]),  narc: "grotto", type: "int-100"} %>

									<%= field "#{version}_#{rarity}_form_#{n}", 'enc-form', {value: (grotto["#{version}_#{rarity}_form_#{n}"]),  narc: "grotto", type: "int-100"} %>
								</div>
							<% end %>
						</div>
					<% end %>
				<% end %>

				<% ["normal", "hidden"].each do |i_type| %>
					<% ["common", "uncommon", "rare", "superrare"].each_with_index do |rarity, i| %>
						<div class="expanded-left grotto-item">
							<div class="expanded-field multi field-header">

								<div class="enc-slot"><%= i_type.titleize %> Items <%= @odds["#{rarity}_#{i_type}_item_odds_#{grotto_index}"] || Grotto.remaining_odd(@odds, grotto_index) %>%</div>

							</div>

							<% (0..3).each do |n| %>
								<div class="expanded-field multi">
									<%= field "#{i_type}_#{rarity}_item_#{n}", 'grotto-item-name', {value: grotto["#{i_type}_#{rarity}_item_#{n}"].name_titleize,  narc: "grotto", autofill: "items"} %>	
								</div>
							<% end %>
						</div>
					<% end %>
				<% end %>

			</div>		
		</div>
	<% end %>
</div>



