<div class="pokemon-filter">	
	<div class="filter-title">Search Text</div>
	<input class="filter-input" id="search-text"/>
	<button class="btn -default" id="search-text-btn" type="button">Search</button>			
	
</div>

<div class="pokemon-list spreadsheet" id="items">
	<div class="expanded-field field-header">
		<div class="expanded-field-main">
			<div class="item-id">ID</div>
			<div class="item-name">Name</div>
			<div class="item-value" >Market Value</div>
		</div>
	</div>

	<% @items.each_with_index do |item, i| %>
		<div class="expanded-field filterable" data-index="<%= i %>">
			<div class="expanded-field-main">
				<div class="item-id"><%= i %></div>
				<div class="item-name"><%= item["name"] %></div>

				<%= field 'market_value', 'item-value', {value: item["market_value"],  narc: "item", type: "int-65535"} %>

				
				<%= svg "svgs/misc_data", 'move-info expand-action expand-item svg no-fill', ["expand", "item"] %>
			</div>
			<div class="expanded-card-content expanded-item">
				<% Item.expanded_fields.each do |col| %>
					<div class="expanded-left" %>			
						<% col.each do |field_name| %>
							<div class="expanded-field">
								<div class="header-label"><%= field_name[1].move_titleize %></div>
								<%= field field_name[1], "item-#{field_name[1]}", {value: item[field_name[1]], narc: "item", type: "int-#{field_name[0]}"} %>
							</div>
						<% end %>
					</div>
				<% end %>			
			</div>
		</div>
	<% end %>
</div>



<script>
	// json object for filtering
	items = <%= @items.to_json %>


	// info for autocomplete
	autofills = {
		<% [:items].each do |info| %>
			"<%= info.to_s %>": <%= RomInfo.send(info) %>,
		<% end %>
	}
</script>
