<script>

	// info for autocomplete
	autofills = {
		<% [:true_pokemon_names].each do |info| %>
			"<%= info.to_s %>": <%= RomInfo.send(info) %>,
		<% end %>
		"move_names": <%= @move_names %>
	}

	$("#header").hide()
</script>

<div class="pokemon-filter master-sidebar" style="top: 0px">	
	<div class="filter-title">Lookup</div>
	<input class="" placeholder="species or move name"/>

	<% @moves.each do |id, move|  %>			
		<% if move %>
			<%= erb :_move_mastersheet, :layout => false, :locals => { :move => move } %>
		<% end %>
	<% end %>


	<% @poke_data.each_with_index do |pok, i|  %>
		<% if pok %>
			<%= erb :'_personal_mastersheet', :layout => false, :locals => { :pok => pok, :evo => @evolutions[i], id: i } %>
		<% end %>
	<% end %>

	<div id="enc-info"></div>

</div>

<div class="pokemon-list spreadsheet" id="mastersheet">
	<% @master_data.each do |element| %>
		<% if element[:content] %>
			<%= Mastersheet.handle(element) %>
		<% elsif element[:tag] == "trainer"  %>
			<% i = element[:id] %>

			<% trainer = @trainers[i] %>
			<div class="expanded-field filterable ms-trainer" data-index="<%= i %>">
				<div class="expanded-field-main">
					<div class="trainer-name"><%= img Trdata.sprite(trainer["name"],trainer['class'],trainer['class_id'], @gender_table) %> <%= "#{trainer['class']}" %> <%= trainer["name"] %> <%= trainer["location"] ? "(#{trainer["location"][0]})" : ""  %>
						

						<% if trainer["battle_type_1"] != "Singles" %>
							
							(<%= trainer["battle_type_1"] %>)	
						<% end %>
						<div class="tr-notes"><%= element[:notes].join(" ") if element[:notes] %></div>
					</div>
				</div>				
				<div class="expanded-card-content expanded-docs">
					<% (0.. @trainer_poks[i]["count"] - 1).each do |pok_index| %>					
					<%= erb :_trpok, :layout => false, :locals => { :personals => @poke_data, :trdata => trainer, :trpok => @trainer_poks[i], :trpok_index => pok_index, :show => "", :trdata_index => i, :doc_view => true, :sprite => Trpok.get_poks_for(@trainer_poks[i]["count"] , @trainer_poks[i]), :has_moves => Trdata.has_moves?(trainer), :abilities => Trpok.get_abilities_for(i, @poke_data)} %>

					<% end %>	
					
				</div>
			</div>
		<% elsif element[:tag] == "encounter" %>
			<% i = element[:id] %>
			<% enc = @encounters[i] %>
			<% season = "spring" %>

			<div class="expanded-field filterable doc-enc" data-index="<%= i %>">
				<div class="expanded-field-main">
					<div class="encounter-locations"><%= enc["locations"] && enc["locations"].uniq.join(", ").split(" (")[0] %></div>
					<input class="repel-manip" placeholder="Repel Lvl"/>
					<div class="encounter-wilds" >
						<% enc["wilds"].each do |wild| %>
							<div class="wild">
								<%= img "pokesprite/#{wild.downcase}.png" %>
							</div>
						<% end %>	
					</div>
					<%= svg "svgs/grass", 'move-info expand-action expand-grass svg', ["expand", "grass"] %>
					<%= svg "svgs/water", 'move-info expand-action expand-water svg', ["expand", "water"] %>
				</div>



				<div class="expanded-card-content expanded-encounter expanded-grass expanded-<%= season %>">
					<% Encounter.grass_fields.each do |field| %>
						<div class="expanded-left">
							<div class="expanded-field multi field-header">
								<div class="enc-slot"><%= field.titleize %></div>
								<div class="enc-lvl">Min</div>
								<div class="enc-lvl">Max</div>
								<div class="enc-form">Form</div>
								<div class="enc-percent">%</div>
							</div>
							<% (0..11).each do |n| %>
								<div class="expanded-field multi">
									<div class='enc-slot enc-name'><%= enc["#{season}_#{field}_slot_#{n}"].name_titleize %></div>
									<div class="enc-lvl"><%= enc["#{season}_#{field}_slot_#{n}_min_level"] %></div>
									<div class="enc-lvl"><%= enc["#{season}_#{field}_slot_#{n}_max_level"] %></div>
									<div class="enc-form"><%= (enc["#{season}_#{field}_slot_#{n}_form"] || 0) %></div>								
									<div class="enc-percent"><%= Encounter.grass_percent_for n %></div>
								</div>
							<% end %>
						</div>
					<% end %>
				</div>



				<div class="expanded-card-content expanded-encounter expanded-water expanded-<%= season %>">
					<% Encounter.water_fields.each do |field| %>
						<div class="expanded-left">
							<div class="expanded-field multi field-header">
								<div class="enc-slot"><%= field.titleize %></div>
								<div class="enc-lvl">Min</div>
								<div class="enc-lvl">Max</div>
								<div class="enc-form">Form</div>
								<div class="enc-percent">%</div>
							</div>
							<% (0..4).each do |n| %>
								<div class="expanded-field multi">
									<div class="enc-slot enc-name"> <%= enc["#{season}_#{field}_slot_#{n}"].name_titleize %> </div>

									<div class="enc-lvl"><%= enc["#{season}_#{field}_slot_#{n}_min_level"] %></div>
									<div class="enc-lvl"><%= enc["#{season}_#{field}_slot_#{n}_max_level"] %></div>
									<div class="enc-form"><%= (enc["#{season}_#{field}_slot_#{n}_form"] || 0) %></div>

		

									<%= field "#{season}_#{field}_slot_#{n}_form", 'enc-form', {value: (enc["#{season}_#{field}_slot_#{n}_form"] || 0),  narc: "encounter", type: "int-100"} %>

									<div class="enc-percent"><%= Encounter.water_percent_for n %></div>
								</div>
							<% end %>
						</div>
					<% end %>
				</div>

			</div>
		<% end %>
	<% end %>
</div>



