<script>

	// info for autocomplete
	autofills = {
		<% [:true_pokemon_names].each do |info| %>
			"<%= info.to_s %>": <%= RomInfo.send(info) %>,
		<% end %>
		"move_names": <%= @move_names %>
	}

	$("#header").hide()
</script>

<div class="pokemon-filter master-sidebar" style="top: 0px">	
	<div class="filter-title">Lookup</div>
	<input class="" placeholder="Species or move name"/>

	<% @moves.each do |id, move|  %>			
		<% if move %>
			<%= erb :_move_mastersheet, :layout => false, :locals => { :move => move } %>
		<% end %>
	<% end %>


	<% @poke_data.each_with_index do |pok, i|  %>
		<% if pok %>
			<%= erb :'_personal_mastersheet', :layout => false, :locals => { :pok => pok, :evo => @evolutions[i], id: i, locs: @pok_locations } %>
		<% end %>
	<% end %>

	<div id="enc-info"></div>

</div>
<div id="ms-editor">
	<textarea type="text" id="ms-source" ><%= File.read("#{$rom_name}/mastersheet.txt") %></textarea>
	<div id="submit-ms">Update</div>
</div>

<div class="pokemon-list spreadsheet" id="mastersheet">
	<% @master_data.each_with_index do |element, n| %>
		<% if element[:content] %>
			<%= Mastersheet.handle(element) %>
		<% elsif element[:tag] == "trainer"  %>
			<% i = element[:id] %>
			<% trainer = @trainers[i] %>
			
			<div class="expanded-field filterable ms-trainer <%= element[:class] %>" data-index="<%= i %>" data-element="<% n %>" >
				<div class="expanded-field-main">
					<div class="trainer-name"><%= img Trdata.sprite(trainer["name"],trainer['class'],trainer['class_id'], @gender_table) %> <%= "#{trainer['class']}" %> <%= trainer["name"] %>
						

						<% if trainer["battle_type_1"] != "Singles" && trainer["battle_type"] != "Singles" %>
							(<%= trainer["battle_type_1"] || trainer["battle_type"] %>)	
						<% end %>
						<div class="tr-notes"><%= element[:notes].join(" ") if element[:notes] %></div>
					</div>
				</div>				
				<div class="expanded-card-content expanded-docs">
					<% p "trainer: #{i}" %>
					<% (0.. @trainer_poks[i]["count"] - 1).each do |pok_index| %>					
					<%= erb :_trpok, :layout => false, :locals => { :personals => @poke_data, :trdata => trainer, :trpok => @trainer_poks[i], :trpok_index => pok_index, :show => "", :trdata_index => i, :doc_view => true, :sprite => Trpok.get_poks_for(@trainer_poks[i]["count"] , @trainer_poks[i]), :has_moves => Trdata.has_moves?(trainer), :abilities => Trpok.get_abilities_for(i, @poke_data)} %>
					<% end %>		
				</div>
			</div>
		<% elsif element[:tag] == "encounter" %>
			<% if $gen == 5 %>
				<%= erb :"mastersheet/_encounter", :layout => false, :locals => { :i => element[:id], :enc=> @encounters[element[:id]], :season => "spring"} %>
			<% else %>
				<%= erb :"mastersheet/_hgss_encounter", :layout => false, :locals => { :i => element[:id], :enc=> @encounters[element[:id]], :season => "spring"} %>
			<% end %>
		<% else %>
		<br>
		<% end %>
	<% end %>
</div>



