
<script>
	// json object for filtering
	overworld = <%= @overworld.to_json %>
	box = <%= @box.to_json %>
</script>

<div class="pokemon-filter overworld-bar">	
	<% p @map_data %>
	




	<div class="overworld-info filterable" data-index="<%= @index %>">
		<div class="filter-title"><%= @location %></div>
		<% Overworld.npc_fields.each do |field| %>
			<div class="sidebar-row">
				<div class="sidebar-label"><%= field %></div>
				<div class="sidebar-val" ></div>
				<div class="sidebar-val" data-narc="overworld" contenteditable="true" data-field-name="<%= field %>" data-type="int-65535" id="<%= field %>">
				</div>
			</div>
		<% end %>
	</div>

	<a href="https://github.com/hzla/Pokeweb/wiki/Editors#overworlds" target="_blank">Instructions</a>
	
</div>

<div class="pokemon-list" id="overworld">

	<% @maps.each do |map| %>
		<div class="overworld-canvas" style='height:<%= map[1][3] * 32 %>px;width:<%= map[1][2] * 32 %>px;left:calc(2vw + <%= (map[1][0] - @tl_x) * 32 %>px);top: <%= (map[1][1] - @tl_y) * 32 + 40 %>px'>
			<% perms = Map.perms(map[0]) %>

			<% perms.each do |tile| %>

				<div class="tile" style='background:<%= Map.color(tile)[0] %>' title="<%= tile %>: <%= Map.color(tile)[1] %>" data-perm="<%= tile %>">
				</div>
			<% end %>

						
		</div>
	<% end %>

	<% (0..@overworld['npc_count']-1).each do |ov_index| %>

		 <%  %>
		<div title="npc-<%= ov_index  %>" class="overworld-item" data-id="npc_<%= ov_index  %>_" style='top: <%= (@overworld["npc_#{ov_index}_y_cord"] - @tl_y) * 32 + 40 %>px;
		left:calc(2vw + <%= (@overworld["npc_#{ov_index}_x_cord"] - @tl_x) * 32%>px)'>

			<%= img "overworlds/#{Overworld.png_id(@overworld["npc_#{ov_index}_overworld_sprite"])}.png", 'overworld-sprite' %>			
		</div>
	<% end %>

	
</div>


