<div class="pokemon-filter">	
	<div class="filter-title">Search Text</div>
	<input class="filter-input" id="search-text"/>
	<button class="btn -default" id="search-text-btn" type="button">Search</button>			
	<div class="filter-title">Generation</div>
	<div class="small-filters gen-filters">
		<button class="btn -default btn-5" type="button">1</button>
		<button class="btn -default btn-5" type="button">2</button>
		<button class="btn -default btn-5" type="button">3</button>
		<button class="btn -default btn-5" type="button">4</button>
		<button class="btn -default btn-5" type="button">5</button>
	</div>
	<div class="filter-title">Types</div>
	<div class="small-filters type-filters">
		<button class="btn -default btn-5 -normal" data-ptype="normal" type="button">NOR</button>
		<button class="btn -default btn-5 -fire" data-ptype="fire" type="button">FIR</button>
		<button class="btn -default btn-5 -water" data-ptype="water" type="button">WAT</button>
		<button class="btn -default btn-5 -electric" data-ptype="electric" type="button">ELE</button>
		<button class="btn -default btn-5 -grass" data-ptype="grass" type="button">GRA</button>
		<button class="btn -default btn-5 -ice" data-ptype="ice" type="button">ICE</button>
		<button class="btn -default btn-5 -fighting" data-ptype="fighting" type="button">FIG</button>
		<button class="btn -default btn-5 -poison" data-ptype="poison" type="button">POI</button>
		<button class="btn -default btn-5 -ground" data-ptype="ground" type="button">GRO</button>
		<button class="btn -default btn-5 -flying" data-ptype="flying" type="button">FLY</button>
		<button class="btn -default btn-5 -psychic" data-ptype="psychic" type="button">PSY</button>
		<button class="btn -default btn-5 -bug" data-ptype="bug" type="button">BUG</button>
		<button class="btn -default btn-5 -rock" data-ptype="rock" type="button">ROC</button>
		<button class="btn -default btn-5 -ghost" data-ptype="ghost" type="button">GHO</button>
		<button class="btn -default btn-5 -dragon" data-ptype="dragon" type="button">DRA</button>
		<button class="btn -default btn-5 -dark" data-ptype="dark" type="button">DAR</button>
		<button class="btn -default btn-5 -steel" data-ptype="steel" type="button">STE</button>
		<button class="btn -default btn-5 -fairy" data-ptype="fairy" type="button">FAI</button>
	</div>
	<button class="btn -default" id="toggle-sheets" type="button">Spreadsheet View</button>
</div>

<div class="pokemon-list">
	<% @pokemons.each do |pok|  %>
		<% if pok %>
			<%= erb :'_personal', :layout => false, :locals => { :pok => pok } %>
		<% end %>
	<% end %>
</div>


<script>
	// json object for filtering
	pokemons = <%= @poke_data.to_json %>

	// moves data for populating additonal move info when user makes edits
	moves = <%= @moves.to_json %>

	// info for autocomplete

	autofills = {
		<% [:types, :abilities, :items, :egg_groups, :growth_rates].each do |info| %>
			"<%= info.to_s %>": <%= RomInfo.send(info) %>,
		<% end %>
		"move_names": <%= @move_names %>
	}

	// load rest of pokemon (11 to end)
	// $( document ).ready(function() {
	// 	$('#wait-loading').show()
	// 	$.get(window.location.href + "/collection", function(data){
	// 		$('.pokemon-list').append(data)
	// 		$('#wait-loading').hide()
	// 	})
	// })	
</script>
