<script>
	// json object for filtering
	headers = <%= @header_data.to_json %>


	// info for autocomplete
	autofills = {
		"location_names": <%= @location_names %>
	}
</script>

<div class="pokemon-filter">	
	<div class="filter-title">Search Location</div>
	<input class="filter-input" id="search-text"/>
	<button class="btn -default" id="search-text-btn" type="button">Search</button>			
	
</div>

<div class="pokemon-list spreadsheet" id="headers">
	<div class="expanded-field field-header">
		<div class="expanded-field-main">
			<div class="hdr-id">ID</div>
			<div class="hdr-location">Location Name</div>
			<div class="hdr-matrix" >Matrix</div>
			<div class="hdr-script">Scripts</div>
			<div class="hdr-texts">Texts</div>
			<div class="hdr-encounters">Encounters</div>
		</div>
	</div>

	<% (0..@header_data["count"] - 1).each do |n| %>
		<div class="expanded-field filterable" data-index="<%= n %>">
			<div class="expanded-field-main">
				<div class="hdr-id"><%= n %></div>
				<%= field 'location_name', 'hdr-location', {value: @header_data[n.to_s]["location_name"],  narc: "header", autofill: "location_names"} %>

				<%= field 'matrix', 'hdr-matrix', {value: @header_data[n.to_s]["matrix"],  narc: "header", type: "int-65535"} %>

				<%= field 'script', 'hdr-script', {value: @header_data[n.to_s]["script"],  narc: "header", type: "int-65535"} %>

				<%= field 'text_bank', 'hdr-texts', {value: @header_data[n.to_s]["text_bank"],  narc: "header", type: "int-65535"} %>

				<%= field 'encounter', 'hdr-encounters', {value: @header_data[n.to_s]["encounter"],  narc: "header", type: "int-65535"} %>

				<%= svg "svgs/misc_data", 'move-info expand-action expand-header svg no-fill', ["expand", "header"] %>
			</div>
			<div class="expanded-card-content expanded-header">
				<% Header.expanded_fields.each do |col| %>
					<div class="expanded-left" %>
						
						<% col.each do |field_name| %>
							<div class="expanded-field">
								<div class="header-label"><%= field_name[1]%></div>
								<%= field field_name[1], "hdr-#{field_name}", {value: @header_data[n.to_s][field_name[1]], narc: "header", type: "int-#{field_name[0]}"} %>
							</div>
						<% end %>
					</div>
				<% end %>			
			</div>
		</div>
	<% end %>
</div>



